.title {
    display: block;
    font-family: Satoshi;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    top: 15vh;
    left: 10vw;
    opacity: 0;
    font-size: 96;
}

.linkContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 10vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fish {
    /* border: 3px solid white; */
    padding: 0.75em;
    border-radius: 50px;
    cursor: pointer;

    position: absolute;

    bottom: 2em;
    right: 2em;
    z-index: 4;
}


@media (width <= 900px) {
    .title {
        left: 0;
        right: 0;
        top: 5vh;
        margin: 0 auto;
        width: fit-content;
    }
}

@media (width <= 450px) {
    .title {
        font-size: 64;
    }
}