.title {
    font-family: Satoshi;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    top: 15vh;
    left: 10vw;
    opacity: 0;
    font-size: 96;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none !important;
}

@media (width <= 900px) {
    .title {
        left: 0;
        right: 0;
        top: 5vh;
        margin: 0 auto;
        width: fit-content;
    }

    .line {
        display: none;
    }
}

@media (width <= 450px) {
    .title {
        font-size: 64;
    }
}