.Link {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.container {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 0.5em;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    cursor: pointer;
}

.icon {
    height: fit-content;
}