/* [project]/src/component/Content/Content.module.css [app-client] (css) */
.Content-module__uaul5W__Content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Content-module__uaul5W__scroll {
  scrollbar-width: 0px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.Content-module__uaul5W__section {
  width: 100%;
  height: 300vh;
}

/* [project]/src/component/sections/ContactSection/ContactSection.module.css [app-client] (css) */
.ContactSection-module__rMrJsq__title {
  opacity: 0;
  font-family: Satoshi;
  font-size: 96px;
  font-style: italic;
  font-weight: bolder;
  display: block;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.ContactSection-module__rMrJsq__linkContainer {
  flex-direction: column;
  gap: 1em;
  height: fit-content;
  margin: auto 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10vw;
}

/* [project]/src/component/sections/ContactSection/Link/Link.module.css [app-client] (css) */
.Link-module__RNCLUW__Link {
  align-items: center;
  gap: .5em;
  display: flex;
}

.Link-module__RNCLUW__container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: .5em;
  overflow: hidden;
}

.Link-module__RNCLUW__icon {
  height: fit-content;
}

/* [project]/src/component/sections/AboutSection/AboutSection.module.css [app-client] (css) */
.AboutSection-module__54t7_a__title {
  opacity: 0;
  font-family: Satoshi;
  font-size: 96px;
  font-style: italic;
  font-weight: bolder;
  display: none;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

/* [project]/src/component/sections/HeroSection/HeroSection.module.css [app-client] (css) */
.HeroSection-module__ocWRHG__title {
  flex-direction: column;
  font-style: italic;
  display: flex;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.HeroSection-module__ocWRHG__name {
  font-family: Satoshi;
  font-size: 109px;
  font-weight: bolder;
}

.HeroSection-module__ocWRHG__subtitle {
  text-align: end;
  width: 100%;
  margin-top: -30px;
  padding-right: 12px;
}

.HeroSection-module__ocWRHG__scrollIcon {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
}

.HeroSection-module__ocWRHG__scrollIcon > svg {
  width: 4em;
}

.HeroSection-module__ocWRHG__scrollIcon > p {
  font-style: italic;
}

/* [project]/src/component/Scrollbar/Scrollbar.module.css [app-client] (css) */
.Scrollbar-module__GtSDVG__Scrollbar {
  --max-width: 400px;
  height: var(--max-width);
  justify-content: center;
  width: 3px;
  margin: auto 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
}

.Scrollbar-module__GtSDVG__scroll {
  background-color: #fff;
  border-radius: 5px;
  width: 3px;
  min-height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.Scrollbar-module__GtSDVG__track {
  opacity: .5;
  width: 1px;
  height: var(--max-width);
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
}

/* [project]/src/app/page.module.css [app-client] (css) */
.page-module___8aEwW__main {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.page-module___8aEwW__main > div {
  z-index: 1;
}

.page-module___8aEwW__button {
  padding: .5em 1em;
}

/* [project]/src/component/Coordinates/coordinates.module.css [app-client] (css) */
.coordinates-module__FUo2Qq__coordinates {
  color: #bcbcbc;
  gap: 1em;
  font-size: smaller;
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.coordinates-module__FUo2Qq__coordinates:before {
  content: "[";
}

.coordinates-module__FUo2Qq__coordinates:after {
  content: "]";
}

.coordinates-module__FUo2Qq__coordinates > div {
  width: 60px;
  display: flex;
}

.coordinates-module__FUo2Qq__coordinates > div > p:first-child {
  font-weight: bolder;
}

.coordinates-module__FUo2Qq__coordinates > div > p:last-child {
  text-align: end;
  flex: 1;
}

/* [project]/src/component/Corner/corner.module.css [app-client] (css) */
.corner-module__9LC2pG__corners {
  --space: 0;
  pointer-events: none;
  width: 3em;
  height: 3em;
  position: absolute;
}

.corner-module__9LC2pG__corners.corner-module__9LC2pG__fixed {
  --space: 1em;
}

.corner-module__9LC2pG__corners svg:first-child {
  top: var(--space);
  left: var(--space);
  position: absolute;
  transform: rotate(0);
}

.corner-module__9LC2pG__corners svg:nth-child(2) {
  top: var(--space);
  right: var(--space);
  position: absolute;
  transform: rotate(90deg);
}

.corner-module__9LC2pG__corners svg:nth-child(3) {
  bottom: var(--space);
  right: var(--space);
  position: absolute;
  transform: rotate(180deg);
}

.corner-module__9LC2pG__corners svg:nth-child(4) {
  bottom: var(--space);
  left: var(--space);
  position: absolute;
  transform: rotate(270deg);
}

/* [project]/src/component/Grid/Grid.module.css [app-client] (css) */
.Grid-module__YbSnrW__Grid {
  z-index: -1;
  grid-template-columns: repeat(auto-fill, minmax(var(--taille-cell), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--taille-cell), 1fr));
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
}

.Grid-module__YbSnrW__Grid > div {
  border: 1px solid #ffffff0d;
}

/* [project]/src/component/Dither/Dither.css [app-client] (css) */
.dither-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0 !important;
}

/*# sourceMappingURL=src_79bd42ed._.css.map*/