.circle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, 50%);
    /* opacity: 0; */
}

.circle, .circle * {
    pointer-events: none !important;

}

.title {
    font-family: Satoshi;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    top: 15vh;
    left: 10vw;
    opacity: 0;
    font-size: 96;
}

@media (width <= 900px) {
    .circle {
        display: none;
    }
}

@media (width <= 780px) {
    .title {
        left: 0;
        right: 0;
        top: 5vh;
        margin: 0 auto;
        width: fit-content;
    }
}

@media (width <= 450px) {
    .title {
        font-size: 64;
    }
}

