.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.button {
  padding: 0.5em 1em;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
 
}

@media (prefers-color-scheme: dark) {
  
}

.test {
  width: 100px;
  height: 100px;

  background-color: white;
}